@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


header {
  /* font-family: 'Azeret Mono', monospace; */
  /* font-family: 'Roboto Mono', monospace; */
  font-family: Arial, Helvetica, sans-serif;
}

.icon-logo {
  width: 12%;
}

.navbar {
  padding-top: 0;
}

.space-top {
  padding-top: 5rem;
}

.container-space {
  padding: 5rem;
}

.profile-pic {
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: 3rem;
}

.blob-container {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}

.overlay-container {
  position: absolute;
  top: 45%;
  left: 20%;
}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

